

        footer {
            color: #fff;
            padding: 30px 0;
            background-color: #d2765cce; /* Dark slate blue */
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCI+CiAgPHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiBmaWxsPSIjMmYzOTRmIi8+CiAgPHBhdGggZD0iTTUgMEw2IDFMNSAyTDQgMUw1IDBaTTYgNUw3IDZMNiA3TDUgNkw2IDVaTTIgMkEzIDMgMCAwIDEgMiA4QTMgMyAwIDAgMSAyIDJaIiBmaWxsPSIjMzEzYTRhIi8+Cjwvc3ZnPg=='); /* Subtle diagonal stripes for texture */
            background-repeat: repeat;
        }

        .footer-links a {
            color: #fff;
            text-decoration: none;
            margin-right: 15px;
            transition: color 0.3s ease;
        }

        .footer-links a:hover {
            color: #0dcaf0; /* Bootstrap 'info' blue for hover */
        }

        .footer-navbar-links .nav-link {
            color: #fff;
            padding: 5px 0;
            transition: color 0.3s ease;
            display: block;
        }
        .footer-navbar-links .nav-link:hover {
            color: #0dcaf0;
        }
        .list-unstyled a {
            color: white;
            text-decoration: none;
        }
        .list-unstyled a:hover {
            color: #0dcaf0;
        }
 